---
import PostList from "../../components/PostList.jsx";
import { Section } from "../../components/ui/section";
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PageHeader from "@/components/PageHeader.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => post.data.draft !== true);
---

<BaseLayout>
  <Section id="blog" variant="dark">
    <div class="container mx-auto py-16 lg:py-24">
      <PageHeader label="Blog" subtitle="Sharing what I've learned" />
      <PostList client:load posts={posts} showControls={true} />
    </div>
  </Section>
</BaseLayout>
