---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostList from '../../components/PostList.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} >
    <main class="border-l-[1px] border-solid border-gray-400">
      <section>
        <PostList posts={posts} />
      </section>
    </main>
  </BaseLayout >
</html>
