@import '@fontsource-variable/fira-code';
@import '@fontsource-variable/syne';
@import '@fontsource/geist-mono/100.css';
@import '@fontsource/geist-mono/200.css';
@import '@fontsource/geist-mono/300.css';
@import '@fontsource/geist-mono/400.css';
@import '@fontsource/geist-mono/500.css';
@import '@fontsource/geist-mono/600.css';
@import '@fontsource/geist-mono/700.css';
@import '@fontsource/geist-mono/800.css';
@import '@fontsource/geist-mono/900.css';
@import '@fontsource/geist-sans/100.css';
@import '@fontsource/geist-sans/200.css';
@import '@fontsource/geist-sans/300.css';
@import '@fontsource/geist-sans/400.css';
@import '@fontsource/geist-sans/500.css';
@import '@fontsource/geist-sans/600.css';
@import '@fontsource/geist-sans/700.css';
@import '@fontsource/geist-sans/800.css';
@import '@fontsource/geist-sans/900.css';
@import '@fontsource/monoton';

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-noise,
.bg-noise-sky {
  z-index: 0;
  opacity: 1;
  background-position: 0 0;
  background-attachment: scroll;
  inset: 0%;
}

.bg-noise {
  background-image: url(/cover.svg);
  background-size: cover;
}

.bg-noise-sky {
  background-image: url(/noise-sky.svg);
  background-size: contain;
  background-repeat: repeat-y repeat-x;
}

.line {
  display: inline;
  padding-bottom: 0;
}

.diff {
  display: inline-block;
  width: 100vw;
  margin: 0 -12px;
  padding: 0 12px;
}

.diff.add {
  background-color: var(--color-ocean-green-800);
}

.diff.remove {
  background-color: var(--color-pink-950);
}

.diff:before {
  position: absolute;
  left: 40px;
}

.focused .line {
  filter: blur(0.095rem);
}

.focused {
  filter: blur(0);
}
