@import '@fontsource-variable/fira-code';
@import '@fontsource-variable/syne';
@import '@fontsource/geist-mono/100.css';
@import '@fontsource/geist-mono/200.css';
@import '@fontsource/geist-mono/300.css';
@import '@fontsource/geist-mono/400.css';
@import '@fontsource/geist-mono/500.css';
@import '@fontsource/geist-mono/600.css';
@import '@fontsource/geist-mono/700.css';
@import '@fontsource/geist-mono/800.css';
@import '@fontsource/geist-mono/900.css';
@import '@fontsource/geist-sans/100.css';
@import '@fontsource/geist-sans/200.css';
@import '@fontsource/geist-sans/300.css';
@import '@fontsource/geist-sans/400.css';
@import '@fontsource/geist-sans/500.css';
@import '@fontsource/geist-sans/600.css';
@import '@fontsource/geist-sans/700.css';
@import '@fontsource/geist-sans/800.css';
@import '@fontsource/geist-sans/900.css';
@import '@fontsource/monoton';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220, 18%, 10%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 155, 50%, 43%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96%;
    --accent-foreground: 222.2 84% 4.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 84% 4.9%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 94.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.line {
  display: inline;
  padding-bottom: 0;
}

.diff {
  display: inline-block;
  width: 100vw;
  margin: 0 -12px;
  padding: 0 12px;
}

.diff.add {
  background-color: var(--color-ocean-green-800);
}

.diff.remove {
  background-color: var(--color-pink-950);
}

.diff:before {
  position: absolute;
  left: 40px;
}

.focused .line {
  filter: blur(0.095rem);
}

.focused {
  filter: blur(0);
}
