---
import Header from "./Header.tsx";
import { DarkModeToggle } from "./DarkModeToggle";
import GetRoadmapButton from "@/components/features/GetRoadmapButton.astro";
import SearchButtonWrapper from "@/components/features/SearchButtonWrapper.astro";
---

<header class="fixed top-0 z-10 w-full bg-background border-b">
  <div
    class="w-full xl:max-w-screen-xl 2xl:max-w-[1400px] xl:mx-auto border-x flex items-center justify-between py-2 px-4"
  >
    <div class="flex items-center space-x-6">
      <Header client:load />
    </div>
    <div class="flex items-center gap-2">
      <DarkModeToggle client:idle />
      <SearchButtonWrapper />
      <GetRoadmapButton />
    </div>
  </div>
</header>
