---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { class: className, ...props } = Astro.props;
---

<li class:list={["flex items-baseline py-4", className]}>
  <a href="/" {...props} data-nav-ignore="true">
    <slot />
  </a>
</li>
