---
import { getCollection } from "astro:content";
import { Post } from "@/components/features/Post";
import { Button } from "@/components/ui/button";
import { Section } from "@/components/ui/section";
import { Animate } from "@/components/ui/animate";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => post.data.draft !== true)
  .filter((_, index) => index < 3);
---

<Section id="blog" size="fit" variant="light">
  <div class="py-16 md:py-28">
    <div class="container">
      <div class="flex items-baseline justify-between mb-12">
        <Animate>
          <h2 class="text-clamp-sm uppercase">New on the blog</h2>
        </Animate>
        <Animate>
          <a href="/blog">
            <Button variant="pill" size="xl" shape="pill">
              <span class="text-xl lg:text-3xl uppercase">Read more →</span>
            </Button>
          </a>
        </Animate>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {posts.map((post) => (
          <Animate>
            <Post post={post} variant="featured" client:visible />
          </Animate>
        ))}
      </div>
    </div>
  </div>
</Section>
