---
import { getCollection } from "astro:content";
import PostMeta from "@/components/features/PostMeta.astro";
import NotebookLinkCard from "@/components/features/NotebookLinkCard.astro";
import { Button } from "@/components/ui/button";
import { Section } from "@/components/ui/section";
import { Animate } from "@/components/ui/animate";
import Notebook from "@/components/ui/notebook/Notebook.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => post.data.draft !== true)
  .filter((_, index) => index < 3);
---

<Section id="blog" size="fit" variant="light">
  <Notebook
    lines="vertical"
    class="notebook--cell-separators blog-notebook"
    cols={{ base: 2, md: 4, lg: 6 }}
    cellGap="2px"
    rowH="auto"
  >
    <div class="col-[1/-1] row-[1/2] pt-16 md:pt-28 pb-12 flex items-baseline">
      <div>
        <Animate>
          <h2 class="text-clamp-sm uppercase">New on the blog</h2>
        </Animate>
      </div>
    </div>

    {
      posts.map((post, index) => (
        <div
          class:list={[
            "col-[1/-1] row-auto h-full",
            index === 0 &&
              "md:col-[1/3] md:row-[2/3] lg:col-[1/3] lg:row-[2/3]",
            index === 1 &&
              "md:col-[3/-1] md:row-[2/3] lg:col-[3/5] lg:row-[2/3]",
            index === 2 &&
              "md:col-[1/-1] md:row-[3/4] lg:col-[5/-1] lg:row-[2/3]",
          ]}
        >
          <Animate className="h-full">
            <NotebookLinkCard
              href={`/blog/${post.slug}/`}
              title={post.data.title}
              description={post.data.description}
              size="featured"
              titleTag="h3"
              descriptionClamp={4}
              class="border-y"
            >
              <PostMeta slot="meta" post={post} />
            </NotebookLinkCard>
          </Animate>
        </div>
      ))
    }

    <div class="col-[1/-1] row-auto flex justify-end pt-8 md:pt-10">
      <Animate>
        <a href="/blog">
          <Button variant="pill" size="xl" shape="pill">
            <span class="text-xl lg:text-3xl uppercase">Read more →</span>
          </Button>
        </a>
      </Animate>
    </div>

    <div aria-hidden="true" class="col-[1/-1] row-auto h-16 md:h-28"></div>
  </Notebook>
</Section>

<style>
  .blog-notebook {
    --nb-col-w-max: 200px;
  }

  @media (min-width: 768px) {
    .blog-notebook {
      --nb-col-w-max: 220px;
    }
  }

  @media (min-width: 1280px) {
    .blog-notebook {
      --nb-col-w-max: 240px;
    }
  }
</style>
