---
import { Picture } from "astro:assets";
import { Button } from "@/components/ui/button";
import { Section } from "@/components/ui/section";
import { Animate } from "@/components/ui/animate";
import { ArrowDown } from "lucide-react";
import Grid from "../../pages/grid.png";
---

<Section variant="dark" size="full" id="hero">
  <div class="h-screen w-screen relative overflow-hidden">
    <div class="absolute z-0 bottom-0 left-0 w-full h-1/2">
      <Picture
        src={Grid}
        class="size-full object-cover object-[center_top] opacity-20 dark:opacity-50"
        alt="Hero background"
      />
    </div>
    <div class="h-full grid grid-cols-1 place-items-center">
      <div class="flex flex-col items-center justify-center">
        <Animate variant="header" className="motion-delay-[200ms]">
          <h1 class="text-4xl md:text-6xl uppercase text-center mb-6">
            Building Quality By Testing
          </h1>
        </Animate>
        <Animate variant="header" className="motion-delay-[400ms]">
          <h2
            class="text-muted-foreground text-lg md:text-xl font-light text-center"
          >
            I'm Jakub and testing helps me build better software. <br />
            Practical articles and open-source tools for developers
            who want to build software they trust.
          </h2>
        </Animate>
        <div class="flex gap-2 mt-12">
          <Animate variant="expand" className="motion-delay-[600ms]">
            <a href="/course">
              <Button variant="cta" shape="pill" size="xl">
                <span class="text-sm md:text-xl">
                  Take the testing course
                </span>
              </Button>
            </a>
          </Animate>
          <Animate variant="expand" className="motion-delay-[600ms]">
            <a href="/get-roadmap">
              <Button
                variant="pill"
                shape="pill"
                size="xl"
                className="bg-transparent text-foreground"
              >
                <span class="text-sm md:text-xl"> Get Roadmap </span>
              </Button>
            </a>
          </Animate>
        </div>
      </div>
    </div>
  </div>
  <Animate variant="header" className="motion-delay-[1000ms]">
    <a
      href="#blog"
      class="cursor-pointer text-foreground/40 border-foreground/40 absolute bottom-0 left-1/2 -translate-x-1/2 size-8 mb-2 rounded-full border-2 animate-pulse"
    >
      <ArrowDown className="block size-full" />
    </a>
  </Animate>
</Section>
