---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostList from "../../components/PostList.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  );
  const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];
  return uniqueTags.map((tag) => {
    const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} >
    <main class="border-l-[1px] border-solid border-gray-400">
      <header class="border-b-[1px] border-solid border-gray-400 mb-4">
        <h1 class="uppercase">
          {tag}
        </h1>
      </header>
      <section>
        <PostList posts={posts} />
      </section>
    </main>
  </BaseLayout/>
</html>
