---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

const posts = await getCollection("blog");
const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
---

<!doctype html>
<html lang="en">
  <BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} >
    <main>
      <section>
        <ul class="list-none">
          {
            tags.map((tag) => (
              <li>
                <a href={`${tag}`}>
                  <h4 class="hover:text-gray-500">
                    {tag}
                  </h4>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </BaseLayout>
</html>
