---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Section } from "../components/ui/section";
import { Animate } from "../components/ui/animate";
import { Ban, CircleArrowLeft } from "lucide-react";

const title = "404 - Page Not Found";
const description = "The page you are looking for does not exist.";
---

<BaseLayout title={title} description={description}>
  <Section id="hero" variant="dark" size="full">
    <div
      class="container mx-auto h-full flex flex-col justify-center items-center text-center"
    >
      <Animate variant="header">
        <h1 class="text-destructive text-6xl uppercase py-4 flex flex-wrap justify-center items-center gap-4">
          <Ban className="size-[1em]" />
          <span>Page</span>
          <span>Not</span>
          <span>Found</span>
        </h1>
      </Animate>
      <Animate variant="header" className="motion-delay-[400ms]">
        <h2 class="text-sky-200 text-2xl mb-8">
          The page you are looking for does not exist.
        </h2>
      </Animate>
      <Animate variant="fadeIn" className="motion-delay-[1000ms]">
        <div class="transition-colors hover:text-sky-200">
          <a href="/" class="text-3xl flex items-center">
            <CircleArrowLeft className="mr-2 size-[1em]" />
            Go back
          </a>
        </div>
      </Animate>
    </div>
  </Section>
</BaseLayout>
