---
import PostList from "../components/PostList.astro";
import Header from "../components/Header.astro";
import HeaderLink from "../components/HeaderLink.astro";
import HeaderLogo from "../components/HeaderLogo.astro";
import HeaderButton from "../components/HeaderButton.astro";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => post.data.draft !== true)
  .filter((_, index) => index < 3);
---

<!doctype html>
<html lang="en">
  <BaseLayout>
    <style>
      #test {
        filter: brightness(0.6);
      }
    </style>
    <main class="relative bg-sky-50 bg-noise-sky">
      <Header class="fixed top-0 z-10">
        <HeaderLogo>jakub::sobolewski</HeaderLogo>
        <HeaderLink href="/">home</HeaderLink>
        <HeaderLink href="/blog/">blog</HeaderLink>
        <HeaderButton
          href="https://jakubsobolewski.substack.com/subscribe"
          class="ms-auto"
          id="subscribe"
        >
          subscribe
        </HeaderButton>
      </Header>
      <section
        id="hero"
        class="bg-sky-700 h-[100vh]
          relative
          overflow-hidden
          text-white
          grid
          bg-noise
          items-center justify-items-start
          grid-cols-1 grid-rows-1
          lg:grid-cols-1 lg:grid-rows-1
          p-4"
      >
        <div
          class="self-center justify-self-center
lg:self-center lg:justify-self-center lg:col-span-2"
        >
          <h3 class="text-sky-200 mb-5 font-light relative font-syne">
            <img
              id="test"
              src="test.svg"
              class="absolute z-[-1] left-[40ch] top-0 h-[clamp(200px,50vw,400px)]"
            />
            Hi, my name is <span class="text-white font-semibold"
              >Jakub Sobolewski</span
            > and this is
          </h3>
          <h1 class="text-clamp font-code font-bold text-white mb-5 relative">
            <span id="title" class="absolute top-0 left-0"> </span>
            <span class="opacity-0"> Building quality by testing </span>
          </h1>
          <h3 class="text-sky-200 font-light font-syne mb-12">
            <p>
              I’m a software engineer specialising in R with 5+ years of
              experience.
            </p>
            <p>
              I practice automated testing to develop software more efficiently.
            </p>
            <p>I share what I've learned</p>
          </h3>
          <div class="flex gap-4">
            <button
              class="rounded-full px-6 py-4 bg-ocean-green-500 w-fit
              text-white font-code tracking-wider font-bold text-clamp-md uppercase
              transition-all duration-300
              border-4 border-white/0
              hover:border-white hover:bg-transparent"
            >
              <a href="/blog">Subscribe</a>
            </button>
            <button
              class="py-3 px-6
              rounded-full
              transition-all duration-300
              text-sky-200 font-code tracking-wider font-bold text-clamp-md uppercase
              border-4 border-white/0
              hover:border-white hover:bg-transparent hover:text-white"
            >
              <a href="/blog"> Read </a>
            </button>
          </div>
        </div>
      </section>
      <section
        id="testimonials"
        class="h-[60vh]
        bg-sky-50 bg-noise-sky
        flex items-center justify-center"
      >
        <div class="rounded-lg p-10 bg-sky-700 text-white w-full max-w-[65ch]">
          <div class="text-xl mb-5">
            <img src="fa_quote-left.svg" class="pb-4 opacity-50" />
            <span>
              "[...] many thought provoking posts that he has on his blog [...]"
            </span>
          </div>
          <p class="text-md text-sky-100">
            Eric Nantz,
            <a
              class="text-sky-300 underline"
              href="https://serve.podhome.fm/episodepage/r-weekly-highlights/issue-2024-w43-highlights"
            >
              R Weekly Podcast, Issue 2024-W43
            </a>
          </p>
        </div>
      </section>
      <section id="blog" class="bg-white bg-noise-sky">
        <article
          class="col-start-1 max-w-[65ch] mx-auto order-2
          h-[100vh]
          flex flex-col justify-center gap-8"
        >
          <h1 class="flex gap-2 align-baseline text-3xl font-syne">
            <div class="size-8">
              <svg
                width="100%"
                height="100%"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 2V22M19.0711 4.92893L4.92893 19.0711M22 12H2M19.0711 19.0711L4.92893 4.92893"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </div>
            Explore what's new on the blog
          </h1>
          <section>
            <PostList posts={posts} />
          </section>
          <button
            class="rounded-full px-6 py-4 bg-sky-700 text-white text-xl w-fit
              transition-all duration-300
              border border-2 border-transparent
              hover:text-sky-900 hover:bg-white hover:border-sky-700"
          >
            <a href="/blog">Read more →</a>
          </button>
        </article>
      </section>
      <script is:inline src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"
      ></script>
      <script
        is:inline
        src="https://cdn.jsdelivr.net/npm/motion@11.11.13/dist/motion.js"
      ></script>
      <script is:inline>
        new TypeIt("#title", {
          speed: 50,
          loop: false,
          afterComplete: (instance) => {
            instance.destroy();
          },
        })
          .type("Building quality by ")
          .pause(400)
          .type("testing")
          .go();
      </script>
      <script is:inline>
        const { animate, scroll } = Motion;
        document.querySelectorAll("#test").forEach((item) => {
          scroll(animate(item, { y: 70 }, { ease: "linear" }), {
            target: item,
          });
        });
      </script>
    </main>
  </BaseLayout>
</html>
