---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/PostList.jsx";
import { Button } from "@/components/ui/button";
import { Section } from "@/components/ui/section";
import { ArrowDownLeft, Asterisk, ArrowDown } from "lucide-react";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => post.data.draft !== true)
  .filter((_, index) => index < 3);
---

<BaseLayout>
  <style>
    .letter-hover {
      transition: all 0.3s ease;
    }
    .letter-hover-green {
      transition: all 0.3s ease;
    }

    .letter-hover:hover {
      color: var(--color-red-500) !important;
      filter: blur(0.01em);
    }
    .letter-hover-green:hover {
      transform: scale(1.1);
      color: var(--color-ocean-green-700) !important;
    }
    .letter-hover:hover {
      color: var(--color-red-500) !important;
      transform: scale(1.1);
      filter: blur(0.01em);
    }
  </style>
  <Section variant="dark" size="full" id="hero">
    <div class="h-screen w-screen relative overflow-hidden">
      <div
        id="circle"
        class="absolute z-0 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-gradient-to-b from-sky-700 to-sky-400 opacity-50 size-[70vw] md:size-[70vh] rounded-full mix-blend-multiply"
      >
      </div>
      <div
        id="circle"
        class="absolute z-0 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-gradient-to-b from-sky-400 to-sky-700 opacity-50 size-[100vw] md:size-[100vh] rounded-full mix-blend-multiply"
      >
      </div>
      <div
        class="absolute z-0 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
      >
        <h1
          class="text-[clamp(12vw,15vw,15em)] uppercase text-white leading-[0.8em] space-y-1 bg-blend-multiply relative"
        >
          <span class="tracking-[0.02em] leading-[0.8em] flex items-center">
            <Asterisk
              className="letter-hover inline-block size-[1em] text-red-500"
            />
            <span class="letter-hover">B</span>
            <span class="letter-hover">u</span>
            <span class="letter-hover">i</span>
            <span class="letter-hover">l</span>
            <span class="letter-hover">d</span>
            <span class="letter-hover">i</span>
            <span class="letter-hover">n</span>
            <span class="letter-hover">g</span>
          </span>
          <span
            class="text-ocean-green-100 font-bolder italic font-serif leading-[1em] tracking-[0.1em] flex items-center"
          >
            <span class="letter-hover-green">q</span>
            <span class="letter-hover-green">u</span>
            <span class="letter-hover-green">a</span>
            <span class="letter-hover-green">l</span>
            <span class="letter-hover-green">i</span>
            <span class="letter-hover-green">t</span>
            <span class="letter-hover-green">y</span>
            <ArrowDownLeft
              className="letter-hover-green inline-block size-[1em]"
            />
          </span>
          <span class="text-nowrap flex items-center">
            <span class="letter-hover">b</span>
            <span class="letter-hover">y</span>
            <span class="letter-hover">&nbsp;</span>
            <span class="letter-hover">t</span>
            <span class="letter-hover">e</span>
            <span class="letter-hover">s</span>
            <span class="letter-hover">t</span>
            <span class="letter-hover">i</span>
            <span class="letter-hover">n</span>
            <span class="letter-hover">g</span>
          </span>
          <div
            class="md:hidden absolute -bottom-10 left-1/2 -translate-x-1/2 translate-y-full md:max-w-[400px]"
          >
            <Button
              variant="default"
              size="xl"
              className="bg-primary text-xl uppercase w-full"
            >
              <a href="/blog"> Read blog </a>
            </Button>
          </div>
        </h1>
      </div>
    </div>
    <a
      href="#about"
      class="cursor-pointer text-sky-200 border-sky-200 absolute bottom-0 left-1/2 -translate-x-1/2 size-8 mb-2 rounded-full border border-2"
    >
      <ArrowDown className="block size-full" />
    </a>
  </Section>
  <Section id="about" size="fit" variant="light">
    <div class="pb-40 pt-40 space-y-40">
      <div class="container grid grid-cols-1 md:grid-cols-2">
        <h2 class="text-6xl uppercase mb-12">About me</h2>
        <div class="max-w-[65ch] space-y-8 font-light">
          <p>
            I'm <span class="font-bold">Jakub Sobolewski.</span>
          </p>
          <p>
            I’m a software engineer specializing in R with 5+ years of
            experience.
          </p>
          <p>
            I believe automated testing is the key to building quality software.
          </p>
          <p>
            My journey into R testing began with a project where to develop
            code, you had to be connected to the production environment. Turns
            out, it was a terrible developer experience.
          </p>
          <p>
            I'm particularly passionate about knowledge sharing, which is why I
            maintain an active blog and R Tests Gallery. I believe that when we
            share our testing experiences—both successes and failures—we all
            become better developers.
          </p>
          <p>
            I approach testing with a practical mindset: tests should make
            development faster and more confident, not slower and more
            burdensome. My goal is to help teams find testing strategies that
            actually enhance their workflow.
          </p>
        </div>
      </div>
      <div class="container grid grid-cols-1 md:grid-cols-2">
        <h2 class="text-6xl uppercase mb-12">My open source projects</h2>
        <div class="max-w-[65ch] space-y-8 font-light">
          <a
            href="https://github.com/jakubsob/muttest"
            target="_blank"
            class="block transition-all group"
          >
            <div class="flex">
              <div class="size-[100px] flex-shrink-0">
                <img
                  class="w-full h-full object-contain"
                  src="https://raw.githubusercontent.com/jakubsob/muttest/main/man/figures/logo.png"
                  alt="muttest logo"
                  width="100"
                  height="100"
                />
              </div>
              <div class="ml-6 flex flex-col">
                <h3 class="uppercase text-2xl group-hover:underline">
                  Muttest
                </h3>
                <p class="mt-auto">
                  A mutation testing framework for R. It helps you identify gaps
                  in your test coverage by introducing small changes to your
                  code and checking if your tests catch them.
                </p>
              </div>
            </div>
          </a>
          <a
            href="https://github.com/jakubsob/cucumber"
            target="_blank"
            class="block transition-all group"
          >
            <div class="flex">
              <div class="size-[100px] flex-shrink-0">
                <img
                  class="w-full h-full object-contain"
                  src="https://raw.githubusercontent.com/jakubsob/cucumber/main/man/figures/logo.png"
                  alt="cucumber logo"
                  width="100"
                  height="100"
                />
              </div>
              <div class="ml-6 flex flex-col">
                <h3 class="uppercase text-2xl group-hover:underline">
                  Cucumber
                </h3>
                <p class="mt-auto">
                  A behavior-driven development (BDD) framework for R. It allows
                  you to write human-readable tests that describe the behavior
                  of your software.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </Section>
  <!-- <Section id="testimonials">
    <div class="rounded-lg p-10 bg-sky-700 text-white w-full max-w-[65ch]">
      <div class="text-xl mb-5">
        <img
          src="fa_quote-left.svg"
          class="pb-4 opacity-50 size-10"
          alt="Double quotes"
          width="50"
          height="50"
        />
        <span>
          "[...] many thought provoking posts that he has on his blog [...]"
        </span>
      </div>
      <p class="text-md text-sky-100">
        Eric Nantz,
        <a
          class="text-sky-100 underline"
          href="https://serve.podhome.fm/episodepage/r-weekly-highlights/issue-2024-w43-highlights"
        >
          R Weekly Podcast, Issue 2024-W43
        </a>
      </p>
    </div>
  </Section> -->
  <Section id="blog" size="fit" variant="light">
    <div class="pb-40 space-y-52">
      <div class="container grid grid-cols-1 md:grid-cols-2">
        <div class="mb-12">
          <h2 class="flex text-6xl uppercase">New on the blog</h2>
        </div>
        <div class="order-3 mt-12 md:order-2 md:self-end">
          <Button variant="pill" size="xl">
            <a href="/blog">Read more →</a>
          </Button>
        </div>
        <div class="h-full max-w-[65ch] row-span-2">
          <PostList client:load posts={posts} showControls={false} />
        </div>
      </div>
    </div>
  </Section>
  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/motion@11.11.13/dist/motion.js"></script>
  <script is:inline>
    const { animate, scroll } = Motion;
    document.querySelectorAll("#test").forEach((item) => {
      scroll(animate(item, { y: 70 }, { ease: "linear" }), {
        target: item,
      });
    });
  </script>
</BaseLayout>
