---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/PostList.jsx";
import { Button } from "@/components/ui/button";
import { Section } from "@/components/ui/section";
import { SubscribeButton } from "@/components/ui/subscribe-button";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => post.data.draft !== true)
  .filter((_, index) => index < 3);
---

<BaseLayout>
  <style>
    #test {
      filter: brightness(0.6);
    }
  </style>
  <Section variant="dark" size="lg" id="hero">
    <div class="grid place-items-center h-full">
      <div>
        <h2 class="text-sky-200 mb-5 font-light relative font-syne">
          Hi, my name is <span class="text-white font-semibold"
            >Jakub Sobolewski</span
          > and this is
        </h2>
        <h1 class="text-clamp font-code font-bold text-white mb-5 relative">
          <span>Building quality by testing </span>
        </h1>
        <h2 class="text-sky-200 font-light font-syne mb-12">
          <p>
            I’m a software engineer specialising in R with 5+ years of
            experience.
          </p>
          <p>
            I practice automated testing to develop software more efficiently.
          </p>
          <p>Here I share what I've learned</p>
        </h2>
        <div class="flex gap-4">
          <SubscribeButton variant="lg" />
          <Button variant="outline">
            <a href="/blog"> Read </a>
          </Button>
        </div>
      </div>
    </div>
  </Section>
  <!-- <Section id="testimonials">
    <div class="rounded-lg p-10 bg-sky-700 text-white w-full max-w-[65ch]">
      <div class="text-xl mb-5">
        <img
          src="fa_quote-left.svg"
          class="pb-4 opacity-50 size-10"
          alt="Double quotes"
          width="50"
          height="50"
        />
        <span>
          "[...] many thought provoking posts that he has on his blog [...]"
        </span>
      </div>
      <p class="text-md text-sky-100">
        Eric Nantz,
        <a
          class="text-sky-100 underline"
          href="https://serve.podhome.fm/episodepage/r-weekly-highlights/issue-2024-w43-highlights"
        >
          R Weekly Podcast, Issue 2024-W43
        </a>
      </p>
    </div>
  </Section> -->
  <Section id="blog" size="full" className="">
    <div class="h-full max-w-[65ch] mx-auto flex flex-col justify-center">
      <h2 class="flex gap-2 align-baseline text-3xl font-syne">
        <div class="size-8">
          <svg
            width="100%"
            height="100%"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 2V22M19.0711 4.92893L4.92893 19.0711M22 12H2M19.0711 19.0711L4.92893 4.92893"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </div>
        Explore what's new on the blog
      </h2>
      <PostList client:load posts={posts} showControls={false} />
      <Button variant="pill" size="xl">
        <a href="/blog">Read more →</a>
      </Button>
    </div>
  </Section>
  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/motion@11.11.13/dist/motion.js"></script>
  <script is:inline>
    const { animate, scroll } = Motion;
    document.querySelectorAll("#test").forEach((item) => {
      scroll(animate(item, { y: 70 }, { ease: "linear" }), {
        target: item,
      });
    });
  </script>
</BaseLayout>
