---
import PostList from "../components/PostList.astro";
import Header from "../components/Header.astro";
import HeaderLink from "../components/HeaderLink.astro";
import HeaderButton from "../components/HeaderButton.astro";
import { getCollection } from "astro:content";
import { getTagsWithCounts } from "../utils/getTagsWithCounts";
import Tag from "../components/Tag.astro";
import Search from "../components/Search";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => post.data.draft !== true)
  .filter((post, index) => index < 3);
const tags = getTagsWithCounts(posts).sort((a, b) => b.count - a.count);
---

<!doctype html>
<html lang="en">
  <BaseLayout>
    <style is:global>
      #test {
        filter: brightness(0.8);
      }

      hmtl {
        scroll-behavior: smooth;
      }
    </style>
    <main class="relative">
      <Header class="fixed top-0 z-10">
        <HeaderLink href="#hero">jakub::sobolewski</HeaderLink>
        <HeaderLink href="#hero">home</HeaderLink>
        <HeaderLink href="/blog">blog</HeaderLink>
        <HeaderButton
          href="https://jakubsobolewski.substack.com/subscribe"
          class="ms-auto"
          id="subscribe"
        >
          subscribe
        </HeaderButton>
      </Header>
      <section
        id="hero"
        class="bg-sky h-[100vh]
        relative
        overflow-hidden
        text-white
        grid
        items-center justify-items-start
        grid-cols-1 grid-rows-1
        lg:grid-cols-1 lg:grid-rows-1
        p-4"
        style="
        z-index: 0;
        opacity: 1;
        mix-blend-mode: overlay;
        background-image: url(cover.svg);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        inset: 0%;"
      >
        <div
          class="absolute bottom-0 left-0 -translate-x-1/3
    rotate-30
    h-[clamp(200px,20vw,500px)] w-[clamp(200px,100vw,500px)]
    bg-[#77C0CA] opacity-10
    rounded-full border-none blur-[400px]"
        >
        </div>
        <div
          class="absolute top-0 right-0 translate-x-1/2
  rotate-3 5
  h-[clamp(200px,10vw,500px)] w-[clamp(200px,50vw,500px)]
  bg-[#77C0CA] opacity-20
  rounded-full border-none blur-[400px]"
        >
        </div>
        <div
          class="self-center justify-self-center
lg:self-center lg:justify-self-center lg:col-span-2"
        >
          <h3 class="text-gray-200 mb-5 font-light relative">
            <img
              id="test"
              src="test.svg"
              class="absolute z-[-1] left-[40ch] top-0 h-[clamp(200px,50vw,400px)]"
            />
            Hi, my name is <span class="text-white font-semibold"
              >Jakub Sobolewski</span
            > and this is
          </h3>
          <h1 class="text-clamp font-code font-bold text-white mb-5 relative">
            <span id="title" class="absolute top-0 left-0"> </span>
            <span class="opacity-0">
              Building quality by <span class="italic">testing</span>
            </span>
          </h1>
          <h3 class="text-gray-200 font-light mb-12">
            <p>I’m a software engineer specialising in R.</p>
            <p>I teach and preach using testing to develop code efficiently.</p>
          </h3>
          <div class="flex gap-4">
            <button
              class="rounded-full px-6 py-4 bg-malibu w-fit
              text-white font-code tracking-widest font-bold text-clamp-md uppercase
              transition-all duration-300
              border-4 border-white/0
              hover:border-white hover:bg-transparent"
            >
              <a href="/blog">Subscribe</a>
            </button>
            <button
              class="py-3 px-6
              rounded-full
              transition-all duration-300
              text-sky-200 font-code tracking-[0.35rem] font-bold text-clamp-md uppercase
              border-4 border-white/0
              hover:border-sky-200"
            >
              <a href="/blog"> Read </a>
            </button>
          </div>
        </div>
      </section>
      <section
        id="testimonials"
        class="h-[50vh]
        bg-sky-100/20
        flex items-center justify-center"
      >
        <div class="rounded-lg p-10 bg-white w-full max-w-[65ch]">
          <div class="text-xl mb-5">
            <img src="fa_quote-left.svg" class="py-2 opacity-10" />
            <span>
              [...] many <span class="font-bold">thought provoking posts</span> that
              he has on his blog [...]
            </span>
          </div>
          <p class="text-md">
            Eric Nantz,
            <a
              class="text-marine-700"
              href="https://serve.podhome.fm/episodepage/r-weekly-highlights/issue-2024-w43-highlights"
            >
              R Weekly Podcast, Issue 2024-W43
            </a>
          </p>
        </div>
      </section>
      <section
        id="blog"
        style="
        z-index: 0;
        opacity: 1;
        mix-blend-mode: overlay;
        background-image: url(noise-sky.svg);
        background-position: 0 0;
        background-repeat: repeat-y;
        background-size: contain;
        background-attachment: scroll;
        inset: 0%;"
      >
        <article
          class="col-start-1 max-w-[65ch] mx-auto order-2
          h-[100vh]
          flex flex-col justify-center gap-8"
        >
          <h1 class="flex gap-2 align-baseline text-3xl">
            <div class="size-8">
              <svg
                width="100%"
                height="100%"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 2V22M19.0711 4.92893L4.92893 19.0711M22 12H2M19.0711 19.0711L4.92893 4.92893"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </div>
            Explore what's new on the blog
          </h1>
          <section>
            <PostList posts={posts} />
          </section>
          <button
            class="rounded-full px-6 py-4 bg-sky-900 text-white text-xl w-fit
              transition-all duration-300
              hover:text-sky-900 hover:bg-white hover:outline hover:outline-2"
          >
            <a href="/blog">Read more →</a>
          </button>
        </article>
      </section>
      <script is:inline src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"
      ></script>
      <script
        is:inline
        src="https://cdn.jsdelivr.net/npm/motion@11.11.13/dist/motion.js"
      ></script>
      <script is:inline>
        new TypeIt("#title", {
          speed: 50,
          loop: false,
          afterComplete: (instance) => {
            instance.destroy();
          },
        })
          .type("Building quality by ")
          .pause(400)
          .type("<span id='title-testing'>testing</span>")
          .go();
      </script>
      <script is:inline>
        const { animate, scroll } = Motion;
        document.querySelectorAll("#test").forEach((item) => {
          scroll(animate(item, { y: 70 }, { ease: "linear" }), {
            target: item,
          });
        });
      </script>
      <script is:inline>
        window.addEventListener("load", () => {
          const observer = new IntersectionObserver(
            (entries) => {
              entries.forEach((entry) => {
                const header = document.querySelector("#header");
                const menu = document.querySelector("#header > header");
                if (entry.isIntersecting) {
                  header.style.color = "var(--color-marine-100)";
                  menu.classList.remove("shadow-md");
                  menu.classList.remove("bg-white");
                } else {
                  header.style.color = "black";
                  menu.classList.add("shadow-md");
                  menu.classList.add("bg-white");
                }
              });
            },
            {
              threshold: 0.01,
            }
          );
          observer.observe(document.querySelector("#hero"));
        });
      </script>
    </main>
  </BaseLayout>
</html>
