---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Section } from "@/components/ui/section";
import { ResourceList } from "@/components/features/ResourceList";
import PageHeader from "@/components/features/PageHeader.astro";
import { resources } from "@/data/resources";
---

<BaseLayout
  title="Resources for learning Shiny"
  meta="A collection of resources to help you learn Shiny, a web application framework for R. Learn software and UI design."
>
  <Section variant="dark">
    <div class="container mx-auto py-16 lg:py-24">
      <PageHeader label="Resources" subtitle="What made me a better engineer" />
      <ResourceList client:load items={resources} />
    </div>
  </Section>
</BaseLayout>
