---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, ...props } = Astro.props;
---

<a
  href={href}
  {...props}
  class="relative whitespace-nowrap overflow-hidden group"
>
  <div
    class="transform transition-transform duration-500 ease-in-out group-hover:-translate-y-full"
  >
    <slot />
  </div>
  <div
    class="absolute inset-0 transform translate-y-full transition-transform duration-500 ease-in-out group-hover:translate-y-0"
  >
    <slot />
  </div>
</a>
