<style>
  :root {
    --dot-diameter: 15px;
  }

  .dot {
    display: block;
    width: var(--dot-diameter);
    height: var(--dot-diameter);
    border-radius: 50%;
    background-color: red;
  }

  .red {
    background-color: #ff5f56;
  }

  .yellow {
    background-color: #ffbd2e;
  }

  .green {
    background-color: #27c93f;
  }

  .codesnap-header {
    display: flex;
    gap: calc(var(--dot-diameter) / 2);
    padding-left: calc(var(--dot-diameter) / 2);
  }
</style>

<div class="codesnap">
  <div class="codesnap-header">
    <div class="dot red"></div>
    <div class="dot yellow"></div>
    <div class="dot green"></div>
  </div>
  <slot />
</div>
