---
import { Animate } from "@/components/ui/animate";
interface Item {
  title: string;
  description: string;
}

interface Items {
  items: Item[];
}

const { items } = Astro.props;
---

<div class="">
  {
    items.map((item: Item, index: number) => (
      <Animate>
        <div class="transition-colors hover:bg-primary/40 p-4 rounded-sm">
          <h4
            class="text-xl mb-2 flex items-center justify-between"
          >
            <div>{item.title}</div>
            <div>{(index + 1).toString().padStart(2, "0")}</div>
          </h4>
          <p class="text-sky-200">
            {item.description}
          </p>
        </div>
      </Animate>
    ))
  }
</div>
