---
const today = new Date();
---

<footer
  class="bg-sky text-white h-[50vh] w-full"
  style="
  z-index: 0;
  opacity: 1;
  mix-blend-mode: overlay;
  background-image: url(cover.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  inset: 0%;"
>
  <div class="max-w-[65ch] mx-auto h-full">
    <div
      class="grid grid-cols-2 grid-rows-[100px_1fr_1fr]
        justify-items-center align-start
        h-full
        text-xl
        px-4"
    >
      <div class="order-1 col-span-2 w-full border-b-[1px] border-sky-100 mb-4">
      </div>
      <div class="order-2">
        <div class="h-20 color-sky-400">
          <h1 class="text-sky-100 text-2xl mb-4">
            Learn efficient R development
          </h1>
          <button
            class="outline outline-malibu outline-1
        rounded-lg
        text-malibu font-code tracking-[0.35rem] font-bold text-clamp-md uppercase
        py-3 px-6
        transition-all duration-400 ease
        hover:text-white
        hover:outline-2
        hover:outline-white
        hover:shadow-[0px_0px_12px_-2px_#77C0CA]"
          >
            <a href="https://jakubsobolewski.substack.com/subscribe"
              >Subscribe</a
            >
          </button>
        </div>
      </div>
      <div class="order-3 justify-self-end">
        <ul class="list-none text-sky-100">
          <li class="transition-colors hover:text-white">
            <a href="https://www.linkedin.com/in/jakub-sobolewski-r/">
              LinkedIn
            </a>
            ↗
          </li>
          <li class="transition-colors hover:text-white">
            <a href="https://bsky.app/profile/jakub-sobolewski.bsky.social/">
              Bluesky
            </a>
            ↗
          </li>
          <li class="transition-colors hover:text-white">
            <a href="https://jakubsobolewski.medium.com/"> Medium </a>
            ↗
          </li>
          <li class="transition-colors hover:text-white">
            <a href="https://www.github.com/jakubsob/"> Github </a>
            ↗
          </li>
        </ul>
      </div>
      <div class="order-4 col-span-2 flex flex-col text-base">
        <span class="text-sky-400 mt-auto">
          &copy; {today.getFullYear()} Jakub Sobolewski. All rights reserved.
        </span>
      </div>
    </div>
  </div>
</footer>
