---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<li class:list={["flex items-baseline", className, { active: isActive }]}>
  <button class="rounded-lg bg-malibu px-5 py-2">
    <a href={href} {...props}>
      <slot />
    </a>
  </button>
</li>
