---
import HeaderLink from './HeaderLink.astro';
import SearchBar from './SearchBar.astro';
import { SITE_TITLE } from '../consts';
---

<header class="m-0 px-4 py-2">
	<nav class="flex flex-row items-center justify-between w-[720px] mx-auto">
    <div class="flex flex-row gap-4">
      <HeaderLink href="/">{SITE_TITLE}</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
    <div>
      <SearchBar />
    </div>
	</nav>
</header>
