---
import { parseHTML } from "linkedom";

const html = await Astro.slots.render("default");
const { document } = parseHTML(html);
const currentPath = Astro.url.pathname;
[
  ...document.querySelectorAll<HTMLAnchorElement>("a:not([data-nav-ignore])"),
].forEach((a: HTMLAnchorElement) => {
  if (a.href === currentPath) {
    a.classList.add("border-b-2", "border-white");
  }
});
const { class: className } = Astro.props;
---

<style>
  .backdrop {
    transition:
      backdrop-filter 0.6s,
      background-color 0.6s;
    backdrop-filter: blur(4px) opacity(0);
  }
  .backdrop-show {
    backdrop-filter: blur(4px) opacity(1);
  }
</style>
<header
  id="header"
  class:list={[
    "text-white transition-colors transition-transform duration-500 w-full gap-4 px-4",
    className,
  ]}
>
  <nav
    class="max-w-[65ch]
      transition-colors transition-transform tranistion-[backdrop-filter]
      duration-500
      backdrop
      duration-600
      mx-auto px-4
      tracking-wider
      rounded-b-lg"
  >
    <ul class="list-none flex flex-row gap-4 items-center justify-start">
      <Fragment set:html={document} />
    </ul>
  </nav>
</header>
<script is:inline>
  var prevScrollpos = window.scrollY;
  window.onscroll = function () {
    var currentScrollPos = window.scrollY;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("header").style.transform = "translateY(0)";
    } else {
      document.getElementById("header").style.transform = "translateY(-100%)";
    }
    prevScrollpos = currentScrollPos;
  };

  window.addEventListener("load", () => {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          const menu = document.querySelector("#header > nav");
          if (entry.isIntersecting) {
            menu.classList.remove("bg-sky-700");
            menu.classList.add("backdrop-show");
          } else {
            menu.classList.add("bg-sky-700");
            menu.classList.remove("backdrop-show");
          }
        });
      },
      {
        threshold: 0.02,
      }
    );
    const observed = document.querySelector("#hero");
    if (observed) observer.observe(observed);
  });
</script>
