---
import Header from "./Header.astro";
import HeaderLink from "./HeaderLink.astro";
import SubscribeButton from "@/components/SubscribeButton.astro";
import SearchButtonWrapper from "./SearchButtonWrapper.astro";
import { DarkModeToggle } from "./DarkModeToggle";
---

<Header class="fixed top-0 z-10 uppercase">
  <HeaderLink href="/" class="lowercase">jakub::sobolewski</HeaderLink>
  <HeaderLink href="/blog/">blog</HeaderLink>
  <HeaderLink href="/r-tests-gallery/">r tests gallery</HeaderLink>
  <HeaderLink href="/course/" class:list={"text-destructive"} isNew={true}
    >course
  </HeaderLink>
  <HeaderLink href="/resources/">resources</HeaderLink>
  <div class="ml-auto"></div>
  <DarkModeToggle client:load />
  <SearchButtonWrapper />
  <SubscribeButton
    class="bg-destructive hover:bg-destructive/80 uppercase text-background dark:text-foreground text-sm px-4 py-2 rounded-full"
  />
</Header>
