---
import Header from "./Header.astro";
import HeaderLink from "./HeaderLink.astro";
import SubscribeButton from "@/components/SubscribeButton.astro";
---

<Header class="fixed top-0 z-10 uppercase">
  <HeaderLink href="/" class="lowercase">jakub::sobolewski</HeaderLink>
  <HeaderLink href="/blog/">blog</HeaderLink>
  <HeaderLink href="/resources/">resources</HeaderLink>
  <HeaderLink href="/r-tests-gallery/">r tests gallery</HeaderLink>
  <HeaderLink href="/course/">course</HeaderLink>
  <div class="ml-auto">
    <SubscribeButton
      class="bg-primary uppercase text-sm px-2 py-2 rounded-sm"
    />
  </div>
</Header>
