---
import Header from "./Header.tsx";
import { DarkModeToggle } from "./DarkModeToggle";
import SubscribeButton from "@/components/SubscribeButton.astro";
import SearchButtonWrapper from "./SearchButtonWrapper.astro";
---

<header class="fixed top-0 z-10 w-full bg-background border-b">
  <div class="container mx-auto flex items-center justify-between px-4 py-2">
    <div class="flex items-center space-x-6">
      <Header client:load />
    </div>

    <div class="flex items-center gap-2">
      <DarkModeToggle client:load />
      <SearchButtonWrapper client:load />
      <SubscribeButton />
    </div>
  </div>
</header>
