---
import HeaderLink from "./HeaderLink.astro";
import SearchBar from "./SearchBar.astro";
---

<header class="max-w-[65ch] mx-auto px-2 py-2">
  <nav class="flex flex-row items-center justify-between">
    <div class="flex flex-row gap-4">
      <HeaderLink href="/">jakub::sobolewski</HeaderLink>
    </div>
    <div>
      <SearchBar />
    </div>
  </nav>
</header>
