---
import Header from "./Header.astro";
import HeaderLink from "./HeaderLink.astro";
import SubscribeButton from "@/components/SubscribeButton.astro";
---

<Header class="fixed top-0 z-10 uppercase">
  <HeaderLink href="/" class="lowercase">jakub::sobolewski</HeaderLink>
  <HeaderLink href="/blog/">blog</HeaderLink>
  <HeaderLink href="/resources/">resources</HeaderLink>
  <HeaderLink href="/r-tests-gallery/">r tests gallery</HeaderLink>
  <span class="relative inline-flex">
    <HeaderLink href="/course/" class:list={"text-red-300"}>course</HeaderLink>
    <span class="absolute top-0 right-0 mt-3 -mr-2 flex size-2">
      <span
        class="absolute inline-flex h-full w-full animate-ping rounded-full bg-red-300 opacity-75"
      >
      </span><span class="relative inline-flex size-2 rounded-full bg-red-400">
      </span></span
    ></span
  >
  <div class="ml-auto">
    <SubscribeButton
      class="bg-primary uppercase text-sm px-2 py-2 rounded-sm"
    />
  </div>
</Header>
