---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, id, ...props } = Astro.props;
---

<li class:list={["flex items-baseline", className]}>
  <button
    id={id}
    class:list={[
      "rounded-full px-4 py-2 transition-all font-code font-bold uppercase tracking-wider hover:text-ocean-green",
    ]}
  >
    <a href={href} {...props}>
      <slot />
    </a>
  </button>
</li>
