<div
  id="circle"
  class="absolute z-0 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-gradient-to-b from-background to-ocean-green-700 opacity-5 dark:opacity-10 h-[70%] aspect-square rounded-full"
>
</div>
<div
  id="circle"
  class="absolute z-0 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-gradient-to-b from-background to-ocean-green-700 opacity-5 dark:opacity-20 h-[100%] aspect-square rounded-full"
>
</div>
