<div
  id="circle"
  class="absolute z-0 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-gradient-to-b from-background to-ocean-green-700 opacity-20 size-[70vw] md:size-[70vh] rounded-full"
>
</div>
<div
  id="circle"
  class="absolute z-0 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-gradient-to-b from-background to-ocean-green-700 opacity-30 size-[100vw] md:size-[100vh] rounded-full"
>
</div>
