---
const { title, description, href, type } = Astro.props;

const icons = {
  youtube: "/youtube.svg",
  book: "/book.svg",
  website: "/website.svg",
};
---

<div
  class="rounded-lg transition-all bg-sky-100/20
w-full max-w-[65ch]
transition duration-300 ease-in-out
border border-[1px] border-transparent
hover:border-[1px] hover:border-sky-800"
>
  <a class="block p-4 group" href={href} target="_blank">
    <div class="flex gap-2 text-2xl text-black items-center">
      <div class="size-6 opacity-80">
        <img src={icons[type as keyof typeof icons]} alt="Resource type icon" />
      </div>
      <div>{title}</div>
      <div
        class="relative whitespace-nowrap overflow-hidden group flex flex-row"
      >
        <div
          class="transform transition-transform duration-500 ease-in-out group-hover:-translate-y-full"
        >
          ↗
        </div>
        <div
          class="absolute inset-0 transform translate-y-full transition-transform duration-500 ease-in-out group-hover:translate-y-0"
        >
          ↗
        </div>
      </div>
    </div>
    <div class="text-gray-500">
      {description}
    </div>
  </a>
</div>
