---
import Search from "./Search";
import { MagnifyingGlass } from "./Icons";
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---

<button role="button" aria-label="Search">
  <MagnifyingGlass />
</button>
<dialog class="backdrop:backdrop-blur-sm mt-6">
  <Search client:load searchList={posts} />
</dialog>

<script>
  const dialog = document.querySelector("dialog");
  const button = document.querySelector("button");
  button?.addEventListener("click", () => {
    dialog?.showModal();
  });
  dialog?.addEventListener("click", (event) => {
    if (event.target === dialog) {
      dialog?.close();
    }
  });
</script>
