---
import { Button } from "@/components/ui/button.tsx";
const { text = "Get Roadmap" } = Astro.props;
---

<!-- <a class="ml-onclick-form" onclick="ml('show', 'Iw0inv', true)"> -->
<a href="/get-roadmap">
  <Button
    variant="destructive"
    shape="pill"
    className="w-full uppercase bg-destructive text-background border-transparent dark:text-foreground dark:hover:text-foreground hover:text-background hover:border-transparent hover:bg-destructive/50"
  >
    {text}
  </Button>
</a>
