---

---

<div
  class="w-full my-4 py-8
  border-y-[1px] border-solid border-gray-200
  grid place-content-center"
>
  <iframe
    src="https://jakubsobolewski.substack.com/embed"
    width="480"
    height="150"></iframe>
</div>
