---
const { center } = Astro.props;
const paddingX = 28;
const posX = center
  ? `left: 50%; transform: translateX(-50%);`
  : `left: -${paddingX}px;`;
---

<div class="flex items-center justify-center">
  <form
    data-v-a750b30b=""
    action="https://api.follow.it/subscription-form/ZXExLzNLWHB1MC9VVkZKSjZXNlN4QzJ0V3RwRnk3bUUwWGtFSHFEUXVUbDBPQ3pnVi9lUmg1cFo1Y3M0cGd1dHRpbmppcXJ2eHFGaUZJb0ZmT2N5ZXV4dm9vb3hYWmE3RWNnZVAxeU9tNzJEQjYyd1NMeEUzRUU2b201Y2VDNUt8Z3pqdXUvUEEzRUduNGJBa0UrZHZCUVFySjdkdVZaVzZLRXRwZkl4WUFTTT0=/8"
    method="post"
  >
    <div data-v-a750b30b="" class="flex flex-row items-center">
      <div class="relative">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 16"
          >
            <path
              d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"
            ></path>
            <path
              d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"
            ></path>
          </svg>
        </div>
        <input
          data-v-a750b30b=""
          type="email"
          name="email"
          required=""
          placeholder="Enter your email"
          spellcheck="false"
          id="input-group-1"
          class="min-w-[300px] border border-sky-50 bg-sky-50 text-gray-900 rounded-lg rounded-r-none focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
          placeholder="name@flowbite.com"
        />
      </div>
      <button
        data-v-a750b30b=""
        type="submit"
        class="max-w-[200px] p-2.5 bg-ocean-green-500 border border-ocean-green-500 h-full text-white font-code tracking-wider font-bold uppercase w-full h-full rounded-l-none rounded-r-lg transition-all duration-300 hover:bg-sky-700 hover:border-sky-50"
        >Subscribe
      </button>
    </div>
  </form>
</div>
