---
import { Button } from "@/components/ui/button.tsx";
const { text = "Subscribe" } = Astro.props;
---

<a class="ml-onclick-form" onclick="ml('show', 'Iw0inv', true)">
  <Button
    variant="pill"
    className="w-full bg-destructive text-background dark:text-foreground border-destructive hover:border-destructive hover:bg-destructive/50"
  >
    {text}
  </Button>
</a>
