---
const { class: buttonClass } = Astro.props;
---

<button
  class:list={[
    "ml-onclick-form transition-all hover:bg-destructive",
    buttonClass,
  ]}
  onclick="ml('show', 'Iw0inv', true)"
>
  Subscribe
</button>
