---
const { value } = Astro.props;
---

<div class="my-4 py-8
  border-y-[1px] border-solid border-gray-200">
  Subscribe via Substack and not miss any new posts!
  <iframe
    src="https://jakubsobolewski.substack.com/embed"
    width="480"
    height="150"
  >
    frameborder="0" scrolling="no"></iframe
  >
</div>
