---
const { center } = Astro.props;
const paddingX = 28;
const posX = center
  ? `left: 50%; transform: translateX(-50%);`
  : `left: -${paddingX}px;`;
---

<div class="h-[43px] relative overflow-hidden">
  <iframe
    title="Subscribe button"
    src="https://jakubsobolewski.substack.com/embed"
    width="400"
    style=`position: absolute; top: -4px; ${posX}`
    height="110"></iframe>
</div>
