---
const { value } = Astro.props;
---

<button role="button" aria-label={value}>
  <a
    class="min-w-16
    border-[1px] border-solid border-gray-800 rounded-full px-3
    text-center text-sm no-underline uppercase"
    href={`/tags/${value}`}
  >
    {value}
  </a>
</button>

<style>
  a {
    color: var(--color-gray-800);
    background-image: linear-gradient(var(--color-gray-800) 0 0);
    background-size: 200% 0;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    transition:
      background-size 0.3s,
      background-position 0.3s 0.3s;
  }
  a:hover {
    color: var(--color-gray-100);
    background-size: 200% 100%;
    background-position: 100% 100%;
    transition:
      background-size 0.3s,
      background-position 0.3s,
      color 0.3s ease-out 0.1s;
  }
</style>
