---
const { value, label, href } = Astro.props;
---

<button role="button" aria-label={value || href}>
  <a
    class="min-w-16
    border-[1px] border-solid border-marine-900 rounded-lg px-3
    border-marine-900 text-center text-sm no-underline uppercase"
    href={`/tags/${value || href}`}
  >
    {value || label}
  </a>
</button>

<style>
  a {
    color: var(--color-marine-900);
    background-image: linear-gradient(var(--color-marine-900) 0 0);
    background-size: 200% 0;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    transition:
      background-size 0.3s,
      background-position 0.3s 0.3s;
  }
  a:hover {
    color: var(--color-white);
    background-size: 200% 100%;
    background-position: 100% 100%;
    transition:
      background-size 0.3s,
      background-position 0.3s,
      color 0.3s ease-out 0.1s;
  }
</style>
