---
import { Button } from "@/components/ui/button.tsx";
const { text = "Get Roadmap" } = Astro.props;
---

<!-- <a class="ml-onclick-form" onclick="ml('show', 'Iw0inv', true)"> -->
<a href="/get-roadmap">
  <Button
    variant="cta"
    shape="pill"
    className="w-full uppercase"
  >
    {text}
  </Button>
</a>
