---
const { title, description, items } = Astro.props;
---

<div class="p-8 border-2 border-ocean-green-200 rounded-lg shadow-md">
  <h3>
    {title}
  </h3>
  <p class="text-sm mb-4">
    {description}
  </p>
</div>
