---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <style is:global>
    main > section {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    html {
      scroll-behavior: smooth;
    }
  </style>
  <BaseHead
    {...{
      title: "Testing in R",
      description:
        "Learn how to effectively test in R and use tests to drive your development process.",
      ...Astro.props,
    }}
  />
  <slot name="head" />
  <body>
    <slot />
  </body><Footer />
</html>
