---
import { Animate } from "@/components/ui/animate";
import { Asterisk } from "lucide-react";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="container mx-auto flex justify-center pt-24 md:pt-36 pb-12">
  <Animate>
    <h2 class="text-clamp-md font-bold uppercase flex items-center">
      <Asterisk className="inline-block size-[1em] text-primary mr-4" />
      <span>{title}</span>
      <Asterisk className="inline-block size-[1em] text-primary ml-4" />
    </h2>
  </Animate>
</div>
